@tailwind base;
@tailwind components;
@tailwind utilities;

.phpdebugbar{
    visibility: hidden;
}


nav {
  margin-left: 2rem;
  div:nth-child(2) {
    div:nth-child(2) {
      margin-left: 12rem;
    }

  }
}

.axil-btn {
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.04em;
  padding: 0px 8px 0px 8px;
  opacity: 0.95;
  text-align: center;
  align-items: center;
  transition: all .3s ease-in-out;
  position: relative;
  z-index: 1;
  &.btn-borderd {
      border: grey;
      color: var(--color-dark);
      background-color: transparent;
      &:hover {
          background-color: #105823;
          color: white;
          border-color: blue;
      }
  }
  &.btn-fill-primary {
      background-color: #238636;
      color: white;
      overflow: hidden;
      &::after {
          content: "";
          height: 300px;
          width: 300px;
          background-color: #2e9a40;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%) scale(0);
          transition: .5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
          z-index: -1;
      }
      &:hover {
          &::after {
              transform: translateY(-50%) translateX(-50%) scale(1);
          }
      }
  }
}